name: Java CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4           # 1) берет код из репо
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4         # 2) ставит JDK 17 (Temurin) и вкл. кеш maven
        with:
          distribution: temurin
          java-version: 17
          cache: maven
      - name: Install system deps (tesseract)
        run: |
          sudo apt-get update
          sudo apt-get install -y tesseract-ocr libtesseract-dev libleptonica-dev
      - name: Maven verify # Build (no tests)
        run: mvn -B -ntp clean verify